/* Scss Document */
html, body, #cover-flow {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100vh; }

#cover-flow {
  background-image: radial-gradient(grey, black);
  perspective: 500px;
  overflow: hidden;
  position: relative; }

.pane {
  width: 60vh;
  height: 60vh;
  background-color: black;
  color: white;
  position: absolute;
  top: 20vh;
  transform-style: flat;
  -webkit-transform-style: flat;
  margin: 0;
  overflow: hidden;
  display: block;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-direction: normal; }

@keyframes rotbackl {
  from {
    transform: rotateY(0deg) scale(1);
    -webkit-transform: rotateY(0deg) scale(1); }
  to {
    transform: rotateY(45deg) scale(0.7);
    -webkit-transform: rotateY(45deg) scale(0.7); } }
@keyframes rotforwl {
  to {
    transform: rotateY(0deg) scale(1);
    -webkit-transform: rotateY(0deg) scale(1); }
  from {
    transform: rotateY(45deg) scale(0.7);
    -webkit-transform: rotateY(45deg) scale(0.7); } }
@keyframes rotbackr {
  from {
    transform: rotateY(0deg) scale(1);
    -webkit-transform: rotateY(0deg) scale(1); }
  to {
    transform: rotateY(-45deg) scale(0.7);
    -webkit-transform: rotateY(-45deg) scale(0.7); } }
@keyframes rotforwr {
  to {
    transform: rotateY(0deg) scale(1);
    -webkit-transform: rotateY(0deg) scale(1); }
  from {
    transform: rotateY(-45deg) scale(0.7);
    -webkit-transform: rotateY(-45deg) scale(0.7); } }
